*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul, li{
    list-style: none;
}
.page{
    /*width: 500px;*/
    margin: 20px auto;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
}
.page>ul{

}
/*箭头*/
.page .default a em{
    display: inline-block;
    background-color: #222;
    border: 5px solid #fff;
}
.page .prev .arrPrev{
    margin-right: 5px;
    border-right-color: #222;
}
.page .next .arrNext{
    margin-left: 5px;
    border-left-color: #222;
}
.page .default a{
    float: left;
    padding: 8px 13px;
    border: 1px solid #eee;
    color: #222;
}
.page .default a:hover{
    border-color: #f40;
    color: #f40;
}
.page .prev a:hover em{
    border-right-color: #f40;
}
.page .next a:hover em{
    border-left-color: #f40;
}
.page>ul .active a{
    background-color: #f40;
    border-color: #f40;
    color: #fff;
}
/*设置选中项无鼠标移动效果*/
.page>ul .active a:hover{
    color: #fff;
}
.page .prev a{
    padding-left: 13px;
    padding-right: 20px;
}
.page .next a{
    padding-left: 20px;
    padding-right: 13px;
}
/*不能选中状态*/
.page .disabled a span{
    color: #999;
}
.page .disabled .arrPrev, .page .disabled a:hover .arrPrev{
    border-right-color: #999;
}
.page .disabled .arrNext, .page .disabled a:hover .arrNext{
    border-left-color: #999;
}
.page .disabled a:hover{
    border-color: #eee;
}
/*pageInfo样式设置部分*/
.page .pageInfo{
    display: inline-block;
    padding: 7px;
    margin-left: 5px;
    color: #999;
}
.pageInfo>input{
    outline: 0;
    width: 48px;
    height: 22px;
    border: 2px solid #eee;
    color: #999;
    background-color: transparent;
    text-indent: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pageInfo>input:focus{
    border-color: #9dbff6;
}
.pageInfo>.btnOk{
    display: inline-block;
    width: 48px;
    height: 23px;
    text-align: center;
    border: 1px #eee solid;
    color: #222;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pageInfo>.btnOk:hover{
    border-color: #f40;
    color: #f40;
}